body {
  max-width: 800px;
  font-size: 16px;
  line-height: 180%;
  margin: 0 auto;
  background-color: #e6f8ea;
  position: relative;
}

section {
  clear: left;
  float: left;
  overflow: hidden;
  width: 100%;
}

.tile {
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
  float: left;
  width: 50%;
  position: relative;
  background-repeat: no-repeat;
  font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
  font-size: 1.4rem;
}

.menu {
  background-color: #e6f8ea;
  padding-top: 0.4em;
}

.menu .tile {
  width: 46%;
  padding: 10px 1%;
  margin: 1%;
  height: 128px;
}

.tile > p {
  padding: 0;
  width: 100%;
  bottom: 0.5em;
  position: absolute;
}

.imgRight > p
{
  left: 2em;
}

.imgLeft > p
{
  right: 2em;
  text-align: right;
}

.menu .tile.dryCleaning {
  background-image: url("../images/DryCleaning.png");
  background-position: right 20px top 10px;
  background-color: #afaff7;
}
.menu a:hover .tile.dryCleaning {
  background-color: #bfbfff;
}

.menu .tile.washDryFold {
  background-image: url("../images/WashDryFold.png");
  background-position: left 20px top 10px;
  background-color: #4df0d2;
}
.menu a:hover .tile.washDryFold {
  background-color: #5dffe2;
}

.menu .tile.alterations {
  background-image: url("../images/Alterations.png");
  background-position: right 20px top 10px;
  background-color: #f25fb0;
}
.menu a:hover .tile.alterations {
  background-color: #ff6fc0;
}

.menu .tile.contactUs {
  background-image: url("../images/ContactUs.png");
  background-position: left 20px top 10px;
  background-color: #ffb700;
}
.menu a:hover .tile.contactUs {
  background-color: #ffc710;
}

.menu .tile.homepage {
  background-image: url("../images/Homepage.png");
  background-position: right 20px top 10px;
  background-color: #52e436;
}
.menu a:hover .tile.homepage {
  background-color: #62f446;
}

.content.dryCleaning {
  background-color: #d2d2f7;
}
.content.washDryFold {
  background-color: #95f0df;
}
.content.alterations {
  background-color: #f8ace6;
}
.content.contactUs {
  background-color: #ffda7d;
}
.content.homepage {
  background-color: #a6e59a;
}

.header .tile {
  background: #fbe99f;
  height: 150px;
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  letter-spacing: 1px;
}

.main .content {
  width: 100%;
}

.main .content ul {
  list-style: none;
  padding: 3em;
  margin: 0;
}

a, a:hover, a:active {
  color: #000;
}

@media (max-width: 800px) {
  .menu .tile {
    width: 100%;
  }
}

::selection {
  background-color: #f8f8ca;
};